# Node.js dependencies
node_modules/
cotshalvar/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Build output
.next/
out/
dist/
.cache/
.vercel/
.vscode/

# React & Next.js specific
*.DS_Store
public/sw.js
public/workbox-*.js
public/workbox-*.json
coverage/
jest/
cypress/
storybook-static/
